.link {
  display: inline-block;
  margin-right: 30px;
  max-width: 330px;
  background: white;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

.image-pane {
  height: 150px;
  overflow: hidden;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}

.image-pane .image {
  width: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-below: 1px solid rgba(0, 0, 0, 0.07);
}

.title-pane {
  border-top: 2px solid #bbb;
  padding: 1em;
}

.index {
  color: #888;
  margin-right: 0.5rem;
}

.title {
  margin-top: 0.5em;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #000;
}
