@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  margin-left: calc(100vw - 100%);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  height: 100%;
}

a {
  color: #428bca;
  font-weight: 600;
}

code {
  font-family: "Source Code Pro", monospace !important;
  font-weight: 600;
  color: #15401b;
}

.content {
  line-height: 1.5;
}

.content img {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.heading-wrapper {
  padding-top: 1em;
  text-align: center;
}

.title-large {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0;
  line-height: 0.9;
  text-transform: uppercase;
  color: #2f8f3c;
}

.subtitle {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 50px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}
