.navbar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;

  padding: 0.5rem 1rem;

  -webkit-box-shadow: 0 8px 6px -7px #999;
  -moz-box-shadow: 0 8px 6px -7px #999;
  box-shadow: 0 8px 6px -7px #999;
}

.navbar .wrapper {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  align-items: center;
}

.navbar .navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar-nav-right {
  margin-left: auto;
}

.navbar .nav-item {
  padding: 0.5rem 0.8rem;
}

.navbar .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  transition: all 150ms ease-in;
  position: relative;
}

.navbar .nav-link:hover {
  color: #2f8f3c;
}

.navbar .nav-link-active::after {
  content: "";
  position: absolute;
  bottom: -16px;

  height: 8px;
  width: 140%;
  background: #2f8f3c;
  z-index: 101;

  /* Horizontally center */
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.flex-row {
  flex-direction: row;
}

.icon-github {
  display: inline-block;

  height: 100%;
  width: 25px;
  color: #2f8f3c;
  margin: 0;
}
