<footer>
    <a href="https://tarides.com/">
        <img
            src="/logos/tarides.png"
            alt="Tarides logo"
        />
    </a>
    <div id="license">
        <p>
            OCurrent is developed and maintained by Tarides for use in the OCaml open-source
            community.
        </p>
        <p>
            © 2022, the OCurrent authors. Distributed under the
            <a href="https://github.com/ocurrent/ocurrent/blob/master/LICENSE">Apache-2.0</a>
            license.
        </p>
    </div>
</footer>
